In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

In [3]:
df_titanic = pd.read_csv("./data/titanic.csv")
df_seguros = pd.read_csv("./data/Marketing-Customer-Analysis.csv")

In [4]:
frecuencias = df_seguros["state"].value_counts()
frecuencias

state
California    3150
Oregon        2601
Arizona       1703
Nevada         882
Washington     798
Name: count, dtype: int64

In [5]:
df_frecuencias = df_seguros["state"].value_counts().reset_index()
df_frecuencias

        state  count
0  California   3150
1      Oregon   2601
2     Arizona   1703
3      Nevada    882
4  Washington    798

In [6]:
df_frecuencias.columns = ["categorias","frecuencias"]
df_frecuencias

   categorias  frecuencias
0  California         3150
1      Oregon         2601
2     Arizona         1703
3      Nevada          882
4  Washington          798

In [ ]:
frecuencias = df_seguros["state"].value_counts()
df_frecuencias = df_seguros["state"].value_counts().reset_index()
df_frecuencias.columns = ["categorias","frecuencias"]
sns.scatterplot(x = "categorias", y = [1]*len(frecuencias), hue = "categorias", data = df_frecuencias, size = "frecuencias", legend = False, ax = axs, sizes = (500,5000))
axs.set_xlabel("")
for estado,valor in frecuencias.items():
    axs.text(estado,1.01,f"{valor}({round(valor*100/frecuencias.sum())}%)")
axs.set_facecolor("none")
axs.yaxis.set_ticks([])
fig