![imagen](./img/ejercicios.png)

# INFORMACIÓN DEL PROYECTO

### TÍTULO

In [1]:
#Escribe el título del proyecto en Markdown
titulo = "Usa el Euribor a tu favor"

Usa el Euribor a tu favor

### TEMA

In [ ]:
# Describe brevemente el tema del proyecto en Markdown
tema = "Analizar la evolucion del Euribor y el mercado hipotecario para extraer conclusiones y estrategías útiles para el sufrido usuario (no para el banco)"

Analizar la evolucion del Euribor y el mercado hipotecario para extraer conclusiones y estrategías útiles para el sufrido usuario (no para el banco)

### HIPÓTESIS

Define aquí lo que será la hipótesis de tu proyecto.
Deberás tener más de una, pero tu proyecto lo harás teniendo una principal hipótesis.

In [ ]:
# Escribe tu hipótesis principal en Markdown
hipotesis_1 = "Existen unos meses en el año que son mas interesantes para firmar la hipoteca a tipo variable porque pagarémos un tipo de interes mas bajo a lo largo de la vida del préstamo"

Hipotesis 1 : Existen unos meses en el año que son mas interesantes para firmar la hipoteca a tipo variable porque pagarémos un tipo de interes mas bajo a lo largo de la vida del préstamo

In [ ]:
# Escribe más hipótesis si las hubiera en Markdown
hipotesis_2 = "los usuarios de los prestamos hipotecarios actúan independientemente de la hipotesis 1"
hipotesis_3 = "existe una relacion entre las fechas de las decisiones del BCE con los meses de la hipotesis 1"
# hipotesis_4 = ""
# hipotesis_5 = ""
# ...

Hipotesis 2:  Los usuarios de los prestamos hipotecarios actúan independientemente de la hipotesis 1

Hipotesis 3: Existe una relacion entre las fechas de las decisiones del BCE con los meses de la hipotesis 1

## OBTENCIÓN DE LOS DATOS

### DATASETS Y FUENTES ALTERNATIVAS DE DATOS

Incluye aquí una vista del dataset o datasets de los que partirás para poder evaluar tu hipótesis. <br>
También incluye el origen de estos datos y su fuente.

In [21]:
import pandas as pd
# guarda en variables los datasets y su fuente
#df_1 = pd.read_csv("./data/be1901.csv")
#fuente_1 = "Banco de España"

df_2 =  pd.read_csv("./data/ECB_Data_Portal_20240405222227.csv")
fuente_2 = "Banco Central europeo"

df_3 =pd.read_csv("./data/ECB Data Portal_20240405225205.csv")
fuente_3 = "Banco Central europeo"

#df_4 = pd.read_csv("./data/3200.csv", sep=";")
#fuente_4 = "Instituto Nacional de Estadística"'''

Muestra mediante un head() los principales datasets con los que vas a trabajar

In [22]:
# Primer dataset
df_2.head()

,DATE,TIME PERIOD,Marginal lending facility - date of changes (raw data) - Change in percentage points compared to previous rate (FM.B.U2.EUR.4F.KR.MLFR.CHG)
0,1999-01-04,04 Jan 1999,-1.25
1,1999-01-22,22 Jan 1999,1.25
2,1999-04-09,09 Apr 1999,-1.00
3,1999-11-05,05 Nov 1999,0.50
4,2000-02-04,04 Feb 2000,0.25

In [23]:
# Siguiente dataset...
df_3.head()

,DATE,TIME PERIOD,Deposit facility - date of changes (raw data) - Level (FM.D.U2.EUR.4F.KR.DFR.LEV)
0,1999-01-01,01 Jan 1999,2.00
1,1999-01-02,02 Jan 1999,2.00
2,1999-01-03,03 Jan 1999,2.00
3,1999-01-04,04 Jan 1999,2.75
4,1999-01-05,05 Jan 1999,2.75